<nav class="top-nav navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/" class="navbar-brand brand">Xw</a>
		</div>
		<ul class="nav navbar-nav">
			<li>
				<a href="/puzzles/play">
					Play puzzles
				</a>
			</li>
			<li>
				<a href="/puzzles/create">
					Generate puzzles
				</a>
			</li>
			<li class="dropdown">
				<a
					href="javascript:void(0);"
					class="dropdown-toggle"
					data-toggle="dropdown"
					role="button"
					aria-has-popup="true"
					aria-expanded="false"
				>
				Dictionary <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/dictionary/manage">Manage</a>
					</li>
					<li>
						<a href="/dictionary/add">Add Terms</a>
					</li>
				</ul>
			</li>
		</ul>
		<p class="navbar-text navbar-right">
			{{#if req.user}}
			<span>Logged in as </span>
			<a href="/profile/{{req.user.username}}">{{req.user.preferredDisplayName}}</a>
			{{else}}
			<a href="/login">Log in</a>
			{{/if}}
		</p>
	</div>
</nav>
