<table class="crossword-grid">
	<tbody>
	{{#each puzzle.grid}}
		{{#with @index as |rowIndex|}}
		<tr class="puzzle-row">
		{{#each ..}}
			{{#with @index as |columnIndex|}}
			{{#..}}
			{{> grid/cell editable=../../editable solution=(lookup (lookup @root.puzzle.userSolution rowIndex) columnIndex)}}
			{{/..}}
			{{/with}}
		{{/each}}
		</tr>
		{{/with}}
	{{/each}}
	{{^puzzle}}
		{{#each (Range height)}}
		<tr class="puzzle-row">
			{{#each (Range ../width)}}
			{{> grid/cell editable=../../editable}}
			{{/each}}
		</tr>
		{{/each}}
	{{/puzzle}}
	</tbody>
</table>