<div class="clues-lists">
	<div class="clues-list-container">
		<h3 class="clues-direction-title across">Across</h3>
		<ol class="clues-list clues-list-across">
		{{#each clues.across}}
			{{> clue-item direction=across clueNumber=@key text=. editable=../editable}}
		{{/each}}
		</ol>
	</div>
	<div class="clues-list-container">
		<h3 class="clues-direction-title down">Down</h3>
		<ol class="clues-list clues-list-down">
		{{#each clues.down}}
			{{> clue-item direction=down clueNumber=@key text=. editable=../editable}}
		{{/each}}
		</ol>
	</div>
</div>
