<table class="crossword-grid">
	<tbody>
	{{#puzzle.grid}}
		<tr class="puzzle-row">
		{{#.}}
			{{> grid/cell editable=../../editable}}
		{{/.}}
		</tr>
	{{/puzzle.grid}}
	{{^puzzle}}
		{{#each (Range height)}}
		<tr class="puzzle-row">
			{{#each (Range ../width)}}
			{{> grid/cell editable=../../editable}}
			{{/each}}
		</tr>
		{{/each}}
	{{/puzzle}}
	</tbody>
</table>