<div class="definitions">
	{{#definitions}}
		{{> dictionary/term-item-definition definition=.}}
	{{/definitions}}
</div>
<button type="button" class="add-definition-button fa fa-plus btn btn-default"><span class="sr-only">Add definition</span></button>