<label class="term-definition-label">
	<span class="sr-only">Term definition</span>
	<input type="text" class="form-control definition-input" data-original="{{definition}}" name="definition" value="{{definition}}" placeholder="Definition" />
</label>
