<section class="add-to-dictionary-container" data-view-classes="add-to-dictionary">
	<header>
		<h1>Add Terms to Dictionary</h1>
	</header>
	<form
		class="add-to-dictionary-form"
		action="/dictionary/term"
		enctype="application/www-form-url-encoded"
		method="POST"
	>
		<div class="form-group term-definition-group">
			<label class="term-input-label">
				<span class="sr-only">Term</span>
				<input
					type="text"
					class="form-control"
					name="term"
					placeholder="Term"
					pattern="^[A-Za-z]{2,}$"
					required
				/>
			</label>
			{{> dictionary/definition-group definitions=(Array "")}}
		</div>

		<div class="form-group">
			<button type="submit" class="add-term-button btn btn-default">Add term</button>
		</div>
	</form>
</section>
