<div class="create-puzzle-container" data-view-classes="puzzle-creator">
	<form class="create-puzzle-form form-inline" action="/create" method="get" enctype="application/www-form-urlencoded">
		<div class="form-group">
			<label>
				Width:
				<input type="number" name="width" class="form-control input-small" min="1" max="99" step="1" required value="4" />
			</label>
			<label>
				Height:
				<input type="number" name="height" class="form-control input-small" min="1" max="99" step="1" required value="4" />
			</label>
		</div>
		<button type="submit" class="submit-create-puzzle-form-button btn btn-primary">Generate</button>
	</form>

	<input type="file" class="file-upload" /> 

	{{> xword-grid-and-clues width=4 height=4}}

	<div class="export-to-file-container">
		<button type="button" class="export-to-file-button btn btn-default">Export puzzle to file</button>

		<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-primary active">
				.PUZ
				<input type="radio" name="file-type" value="puz" checked />
			</label>
			<label class="btn btn-primary">
				.IPUZ
				<input type="radio" name="file-type" value="ipuz" />
			</label>
		</div>
	</div>
</div>
