<section class="fill-puzzle-section">
	<div class="puzzle-filler" data-view-classes="puzzle-filler">
		<form class="create-puzzle-form form-inline" action="/create" method="get" enctype="application/www-form-urlencoded">
			<div class="form-group">
				<label>
					Width:
					<input type="number" name="width" class="form-control input-small" min="1" max="99" step="1" required value="{{req.query.width}}{{^req.query.width}}4{{/req.query.width}}" />
				</label>
				<label>
					Height:
					<input type="number" name="height" class="form-control input-small" min="1" max="99" step="1" required value="{{req.query.height}}{{^req.query.height}}4{{/req.query.height}}" />
				</label>
			</div>
			<button type="submit" class="submit-create-puzzle-form-button btn btn-primary">Generate</button>
		</form>

		<input type="file" class="file-upload" /> 

		{{> xword-grid-and-clues width=(Default req.query.width 4) height=(Default req.query.height 4)}}

		<button type="button" class="get-terms-button">Get Candidate Terms</button>
		<button type="button" class="validate-puzzle-button">Validate Puzzle</button>
	</div>
</section>