<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{{title}}</title>
	<link rel='stylesheet' href='/static/dist/css/build.css' />
	{{{block styles}}}
</head>
<body>
	{{{body}}}

	<script src="/static/dist/js/build.js"></script>
	{{{block scripts}}}
</body>
</html>
