{{#contentFor 'page-header'}}
	<h2>Login</h2>
{{/contentFor}}

<section class="login-container">
	<p>
		Log in or sign up with a social media account:
	</p>
	<ul class="login-button-list">
		<li>
			<a href="/auth/fb" class="login-button facebook-login-button fa fa-facebook-square" role="button"></a>
		</li>
		<li>
			<a href="/auth/google" class="login-button google-login-button fa fa-google-plus-square" role="button"></a>
		</li>
	</ul>
</section>