<section class="play-imported-puzzle-container" data-view-classes="play-imported-puzzle">
	<input type="file" name="import-puzzle-picker" class="form-control" />

	<div class="puzzle-info-container">
		<h2 class="current-clue-container">&nbsp;</h2> 
		<span class="timer-display"></span>
	</div>
	<div class="crossword hidden" data-view-classes="crossword-puzzle">
		{{> xword-grid-and-clues clues=puzzle.clues}}
	</div>
</section>
