@import './dictionary.less';

.search-results-list {
	padding: 1em;

	@border-color: lightgrey;

	.dictionary-term-item {
		display: flex;
		flex-direction: row;
		padding-top: 0.8em;
		padding-bottom: 0.8em;

		border-bottom: 1px solid @border-color;

		&:first-child {
			border-top: 1px solid @border-color;
		}

		.term {
			margin-right: 1em;
			align-self: center;
			display: inline-block;
			width: 10em;
			font-weight: bold;
		}

		.definitions {
			flex: 1;
		}

		.add-definition-button {
			align-self: center;
			margin-left: 1em;
		}

		.term-definition-label {
			display: block;
		}
	}

	&:empty + .save-definition-changes-button {
		display: none;
	}
}
