.crossword {
	display: flex;
}

.grid-and-clues {
	display: flex;
	flex-direction: row;
	padding: 20px;
}

.crossword-grid {
	order: 1;
}

.direction-indicator {
	order: 3;
}

.clues-lists {
	order: 2;
}

.direction-indicator {
	.fa-icon();
	.fa-2x();
	position: absolute;
	right: 1em;

	&.across {
		&:before,
		&::before {
			content: @fa-var-long-arrow-right;
		}
	}

	&.down {
		&:before,
		&::before {
			content: @fa-var-long-arrow-down;
		}
	}
}

.crossword-grid {
	border-collapse: collapse;
	table-layout: fixed;

	.cell {
		width: 5em;
		height: 5em;
		border: 1px solid black;
		padding: 1em;
	}
	
	.block-cell {
		background: black;
	}

	.letter-input {
		font-size: 2em;
		text-align: center;
		width: 100%;
		background-color: transparent;
		text-transform: uppercase;

		&,
		&:focus,
		&:hover {
			outline: none;
			border: none;
			box-shadow: none;
		}
	}

	.crossword-cell {
		position: relative;

		&[data-clue-number]:after {
			content: attr(data-clue-number);
			display: block;
			position: absolute;
			top: 0;
			left: 0;
		}


	}
}

.crossword-grid,
.clues-lists {
	.highlighted {
		background-color: rgb(255, 255, 147);
	}
}

.clues-lists {
	margin-left: 1.5em;
	display: flex;
	flex-direction: row;
}

.clues-list-container {
	flex: 1;
}

.clues-list {
	padding-left: 0;
}

.clues-list-item {
	list-style-type: none;
	cursor: pointer;

	&::before {
		content: attr(value) ": ";
		width: 3em;
		display: inline-block;
		text-align: right;
		padding-right: 0.5em;
	}
}
